<div>
  <a href="#" id="my-button">
      <span>Hello world!</span>
  </a>
  <audio id="player">
      <source src="https://s3.amazonaws.com/russell-personal/fuck-you-audio/185634__jorickhoofd__male-screaming-fuck-you.mp3" type="audio/mp3" />
      <source src="https://s3.amazonaws.com/russell-personal/fuck-you-audio/185634__jorickhoofd__male-screaming-fuck-you.ogg" type="audio/ogg" />
      <source src="https://s3.amazonaws.com/russell-personal/fuck-you-audio/185634__jorickhoofd__male-screaming-fuck-you.wav" type="audio/wav" />
  </audio>
</div>
